<!DOCTYPE html>
<html>
  <head>
    <title>Hi manjesh</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hii</h1>
    <p>Welcome to Docker</p>
  </body>
</html>
